* {
  box-sizing: border-box;
}
/* Fondo */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* <Header> START */

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #448aff, #39cccc, #448aff);
  color: white;
  font-family: "Roboto", sans-serif;
  margin: -8px -10px 0 -10px;
  padding: 30px 0;
}

/* Logo de Teo*/
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 25%;
  text-align: left;
  padding: 10px 0 10px 40px;
}
/* Div vacío */
.menu {
  flex: 50%;
}
.item {
  padding: 15px 10px;
  margin: 10px;
}
/* Botones del header*/
.menu-item {
  text-decoration: none;
  color: #357df8;
  font-size: 20px;
  padding: 15px 10px;
  border-radius: 8px;
  border: 2px solid rgb(199, 199, 199);
  background-color: rgb(255, 255, 255);
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.5s, color 0.5s;
}

.menu-item:active {
  color: #a70606;
  background-color: #c5e4fd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
/* <Header> END */

/* <BODY> START*/
/* Fondo */
.body-background {
  background: linear-gradient(10deg, #eff0f4, #ffffff);
  background-repeat: no-repeat;
}

/* Título de la página principal de eventos y demás*/
.title-event-buttons section {
  width: 35%;
  text-align: center;
}

.title {
  color: #ffffff;
  text-shadow: 1px 1px 0 #2c353a;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* <Month-buttons> START*/
.title-event-buttons,
.convocatorias-title {
  display: flex;
  flex-direction: row;
  background-color: #0a4fc2;
  justify-content: center;
}

.month-buttons-container {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.month-button,
.show-all-button {
  width: 20%;
  font-size: 18px;
  border-right: 1px solid rgba(128, 128, 128, 0.596);
  border-left: 2px solid rgba(128, 128, 128, 0.596);
  border-top: none;
  border-bottom: none;
  color: #ffffff;
  font-weight: bold;
  background-color: transparent;
  transition: color 0.5s;
}
.month-button:first-child {
  border-left: 3px solid rgba(128, 128, 128, 0.596);
}
.show-all-button {
  width: 40%;
}

.month-button:active,
.show-all-button:active {
  color: #a70606;
  background-color: #357df8;
  opacity: 0.8;
}

/* <Month-buttons> END*/

/* <Events> START*/

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* Caja "botón" de las miniaturas de los eventos */
.event-reduced {
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.68);
  margin: 5px 10px 60px 10px;
  background-color: white;
  color: #003899;
  width: 350px;
  height: 300px;
  font-family: "Roboto", sans-serif;
}
.event-reduced:active {
  transform: translateY(4px);
  box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.68);
}
.event-image {
  margin-left: -10px;
  margin-top: -2px;
  width: 350px;
  height: 300px;
  z-index: -1;
}
.event-name {
  text-align: center;
  position: absolute;
  font-size: 18px;
  color: white;
  background-color: hsla(0, 0%, 13%, 0.7);
  width: 350px;
  margin-top: -36px;
  margin-left: -10px;
  padding: 5px;
  min-height: 4.3em;
}
.event-date {
  position: absolute;
  background-color: rgba(68, 138, 255, 0.8);
  color: white;
  padding: 5px 5px 5px 10px;
  margin-left: -10px;
  margin-top: -290px;
}
.event-desc {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 350px;
  padding-left: 5px;
  padding-top: 5px;
  margin-top: -45px;
}
/* <Events> END*/

/* <EventsDetails> START */
/* Página del evento detallado */
.event-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.75);
  padding-bottom: 20px;
}
.event-name-date-container {
  display: flex;
  flex-direction: column;
}

.details-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -5px;
  margin-right: 30px;
  margin-left: 30px;
}
.details-date {
  color: #448aff;
  font-weight: bold;
  border-top: solid #003899 1px;
  border-bottom: solid #003899 1px;
  padding: 5px 0px;
  margin-right: 30px;
  margin-left: 30px;
}
.details-container {
  display: flex;
  flex-direction: row;
  flex: 40%;
  background-color: white;
  margin: 0 35px;
}
.details-img {
  width: 400px;
  height: 350px;
}
.details-desc {
  margin-left: 50px;
}

.empty-hack {
  height: 50px;
}

/* <EventsDetails> END */

/* <Convocatorias> START */
/*()Página Principal de Convocatorias*/
.convocatoria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -40px;
}

.convocatoria-reduced {
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.68);
  margin: 5px 10px 50px 10px;
  background-image: linear-gradient(#448aff 0%, #39cccc 100%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 350px;
  height: 150px;
}
.convocatoria-reduced:active {
  transform: translateY(4px);
  box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.68);
}
.convocatoria-date {
  text-align: left;
  padding-left: 8px;
  background-color: #003899;
  margin-right: 220px;
}
/*(Página de la Convocatoria detallada)*/
.lista-pdf {
  display: flex;
  flex-direction: column;
}
/*(PARA PODER ELIMINAR EL SUBRAYADO, EL CLASS ESTÁ EN EL <a>)*/
.convocatoria-enlace {
  text-decoration: none;
  color: white;
}
.enlace {
  font-size: 17px;
  padding: 10px 10px;
  margin: 15px 10px;
  text-decoration: none;
  border-radius: 4px;
  background-image: linear-gradient(#448aff 0%, #39cccc 100%);
  box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.29);
  border-bottom: solid 3px #999999;
  font-weight: bold;
}
.enlace:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/* <Convocatorias> END */
/* <InfoTeo-Buttons> START*/

.pager {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.pager-button {
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#448aff 0%, #39cccc 100%);
  box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.29);
  border-bottom: solid 3px #999999;
  font-weight: bold;
  padding: 10px 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.no-underline {
  text-decoration: none;
  color: white;
}
.pdf-container {
  display: flex;
  justify-content: center;
}
/* <InfoTeo-Buttons> END*/

/* <Admin> START*/

.load-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.load-buttons {
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#448aff 0%, #39cccc 100%);
  box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.29);
  border-bottom: solid 3px #999999;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.eventdetails-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* Admin END */

/* <Footer> START */
.footer-container {
  border-top: solid 1px #448aff;
  background-color: white;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  bottom: 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-ue {
  width: 13%;
  height: 13%;
}

.logo-stgo {
  width: 6%;
  height: 6%;
}

.logo-teo {
  width: 7%;
  height: 7%;
}

.logo-xunta {
  width: 9%;
  height: 9%;
}
/* <Footer> END */
/* <BODY> END*/

/* <Not Found> START*/
.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nf-text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-top: solid #003899 1px;
  border-bottom: solid #003899 1px;
  padding: 5px 30px;
}
.return-home {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 22px;
  color: #ffffff;
  background-image: linear-gradient(#448aff 0%, #39cccc 100%);
  font-weight: bold;
  padding: 15px;
  margin: 10px 600px 50px 600px;
  width: 120px;
  height: 120px;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.68);
}
.link-container {
  text-align: center;
  text-decoration: none;
  color: white;
}
.return-home:active {
  transform: translateY(4px);
  box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.68);
}
.emptywhite-hack {
  background-color: white;
  height: 100px;
}

/* <Not Found> END*/
